{% extends "views/layouts/content.twig" %}
{% block leftmenu %}
    {% include "views/admin/left.twig" %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs nav-tabs-employee">
        {% for index, CurrentGroup in Groups %}
            {% if this.getRequestsCountByEmployeeAndGroup(employeeId, CurrentGroup) %}
                <li role="presentation" {% if CurrentGroup == group %}class="active"{% endif %}">
                    <a href="/admin/drafts?employee={{ employeeId }}&group={{ CurrentGroup }}">{{ getTranslate(CurrentGroup) }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="form-tabs">
        <div>
            <div class="form-tabs-title">
                {{ getTranslate(group) }}
            </div>

            {{ this.getRequestsByEmployeeAndGroup(employeeId, group)|raw }}
        </div>
    </div>
{% endblock %}