<ul class="nav nav-pills nav-stacked">
    {% if (EmployeeGroupArchiveRequestType.wash or Employee.EmployeeGroup.manage or App.user.role == "admin") %}
        <li {% if group == "wash" %}class="active"{% endif %}>
            <a href="{{ '/archive/list?group=wash' }}">
                Мойки  <span class="label label-default">{{ countWash }}</span>
            </a>
        </li>
    {% endif %}

    {% if (EmployeeGroupArchiveRequestType.service or Employee.EmployeeGroup.manage or App.user.role == "admin") %}
        <li {% if group == "service" %}class="active"{% endif %}>
            <a href="{{ '/archive/list?group=service' }}">
                Сервис  <span class="label label-default">{{ countService }}</span>
            </a>
        </li>
    {% endif %}

    {% if (EmployeeGroupArchiveRequestType.tires or Employee.EmployeeGroup.manage or App.user.role == "admin") %}
        <li {% if group == "tires" %}class="active"{% endif %}>
            <a href="{{ '/archive/list?group=tires' }}">
                Шиномонтаж  <span class="label label-default">{{ countTires }}</span>
            </a>
        </li>
    {% endif %}

    {% if (EmployeeGroupArchiveRequestType.company or Employee.EmployeeGroup.manage or App.user.role == "admin") %}
        <li {% if group == "company" %}class="active"{% endif %}>
            <a href="{{ '/archive/list?group=company' }}">
                Компании  <span class="label label-default">{{ countCompany }}</span>
            </a>
        </li>
    {% endif %}
</ul>