<ul class="nav nav-pills nav-stacked">
    {% if (EmployeeGroupRequestType.wash) %}
    <li {% if group == "wash" %}class="active"{% endif %}>
        <a href="{{ '/request?group=wash' }}">
            Мойки  <span class="label {% if countWash > 0 %}label-success{% else %}label-default{% endif %}">{{ countWash }}</span>
        </a>
    </li>
    {% endif %}

    {% if (EmployeeGroupRequestType.service) %}
        <li {% if group == "service" %}class="active"{% endif %}>
            <a href="{{ '/request?group=service' }}">
                Сервис <span class="label {% if countService > 0 %}label-success{% else %}label-default{% endif %}">{{ countService }}</span>
            </a>
        </li>
    {% endif %}

    {% if (EmployeeGroupRequestType.tires) %}
    <li {% if group == "tires" %}class="active"{% endif %}>
        <a href="{{ '/request?group=tires' }}">
            Шиномонтаж  <span class="label {% if countTires > 0 %}label-success{% else %}label-default{% endif %}">{{ countTires }}</span>
        </a>
    </li>
    {% endif %}

    {% if (EmployeeGroupRequestType.company) %}
        <li {% if group == "company" %}class="active"{% endif %}>
            <a href="{{ '/request?group=company' }}">
                Компании <span class="label {% if countCompany > 0 %}label-success{% else %}label-default{% endif %}">{{ countCompany }}</span>
            </a>
        </li>
    {% endif %}
</ul>