<div class="form-group multiple-form-group row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Марка ТС</label>
            <input type="text" class="form-control input-one" name="RequestCompanyAutopark[model][]"
                   value="{% if Auto is defined %}{{ Auto.model }}{% endif %}"/>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Вид ТС</label>

            <div class="">
                <div class="input-group">
                    <input class="form-control" type="text" name="RequestCompanyAutopark[type][]"
                           value="{% if Auto is defined %}{{ Auto.type }}{% endif %}"/>
                    <span class="input-group-btn">
                        <button
                                class="btn btn-default form-control btn-ts-modal btn-edit" data-toggle="modal"
                                data-target="#ts_modal"><span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Количество</label>

            <div class="">
                <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number btn-first"
                            data-type="minus" data-field="RequestCompanyAutopark[amount][]">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                    <input type="text" name="RequestCompanyAutopark[amount][]"
                           class="form-control input-number text-center"
                           value="{% if Auto is defined %}{{ Auto.amount }}{% else %}0{% endif %}"
                           min="1" max="10">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number btn-last" data-type="plus"
                            data-field="RequestCompanyAutopark[amount][]">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-md-6">
                <label>Снаружи</label>
                <input type="text" class="form-control input-one" placeholder="Снаружи"
                       name="RequestCompanyAutopark[price_outside][]" value="{% if Auto is defined %}{{ Auto.price_outside }}{% endif %}"/>
            </div>
            <div class="col-md-6">
                <label>Внутри</label>
                <input type="text" class="form-control input-one" placeholder="Внутри"
                       name="RequestCompanyAutopark[price_inside][]" value="{% if Auto is defined %}{{ Auto.price_inside }}{% endif %}"/>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <label>Удалить</label>
        <div class="">
            <button type="button" class="btn btn-primary btn-removeAdvancedDetail">-</button>
        </div>
    </div>
</div>
